{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true,
            "decorators": true,
            "dynamicImport": true
        }
    },
    "env": {
        "mode": "usage",
        "coreJs": "3.31.0"
    }
}
